@media print {
/*--COMMON CSS--*/
*{color:#000!important;text-shadow:none!important;background:transparent!important;box-shadow:none!important}
a[href]:after{content:""!important}
html,body{height:99%}
@page { margin:80px 30px 80px 10px;}
#print+#print{page-break-before:always}
body *{visibility:hidden}
.modal-open, .modal-open .modal {overflow: visible;position: relative;}
.table{border-collapse:collapse!important}
.table-bordered th,.table-bordered td{border:1px solid #ddd!important}
.modal-backdrop.fade, header, .ob-feedback-block, .container, .ob-mask, .ui-mask{ display:none;}
.col-lg-6, .col-sm-6, .col-md-6, .col-xs-6{ width:50%; float:left;}

/*--COMMON CSS--*/

/*--PRODUCT DETAIL PRINT--*/
#modal-table{ color:#000 !important;}
#modal-table{position:absolute!important;top:0;left:0;right:0;margin:5px;page-break-before:none;page-break-after:none;page-break-inside:avoid}
#modal-table .modal-dialog.print-product{width:100%; margin:0;}
#modal-table{font-size:12px}
#modal-table .print-product .modal-content *{visibility:visible;}
#modal-table .print-product .modal-content{position:absolute;top:0;left:0}
#modal-table .print-product .modal-header,#modal-table .print-product .print-head .gray,#modal-table .print-product .close{display:none!important}
#modal-table .print-product .skuprice{font-size:13px;width:100%;margin-bottom:0; border-bottom:1px #222 solid; padding-bottom:5px;}
#modal-table .print-product .skuprice > div{font-family:'HelveticaNeueLTStd55-Roman';padding:2px 20px 2px 0;text-align:left;min-height:20px; width:auto !important; font-size:11px !important; line-height:inherit;}
#modal-table .print-product .print-logo{display:block}
#modal-table .print-product .print-logo img{width:80px;margin-bottom:10px}
#modal-table .print-product .print-botton{display:none}
#modal-table .print-product .print-rating .rating{color:#ddd;font-size:10px;height:15px;width:auto; padding-top:2px;}
#modal-table .print-product .rating i{ font-size:10px;}
#modal-table .print-product .print-thumb{float:left;list-style:none;position:relative;width:45px;margin-right:5px}
#modal-table .print-product h3{color:#404040;font-size:14px;font-family:'HelveticaNeueLTStd55-Roman';background:#f5f5f5;padding:2px 0;margin-bottom:2px}
#modal-table .print-product .print-main-img{text-align:center;border:1px solid #000;background:#fff;box-shadow:inset 0 0 0 5px #FFF;margin-bottom:5px}
#modal-table .print-product .print-main-img img{width:200px;display:inline-block}
#modal-table .print-product .product-print-thumb-img{border:1px solid #000;display:block;background:#fff;position:relative}
#modal-table .print-product h3.print-sub-title{text-transform:uppercase;background:none;border-bottom:1px solid #000;font-size:13px;padding-left:0;padding-bottom:5px;margin-bottom:5px;padding-top:0}
#modal-table .print-product h4.print-child-title{color:#404040;font-size:11px;font-family:'robotobold'; text-transform:uppercase;}
#modal-table .print-product .product-print-price{margin-top:2px}
#modal-table .print-product .print-btn-product, #modal-table .print-product .print-buttom-border{display:none}
#modal-table .print-product .print-close, #modal-table .print-product .print-buttom-border{display:none}
#modal-table .print-product .table-data table td{font-family:'HelveticaNeueLTStd55-Roman'; font-size:10px;}
#modal-table .print-product p, #modal-table .print-product span{font-size:10px!important;font-family:'HelveticaNeueLTStd55-Roman'; line-height:18px!important;}
#modal-table .print-product label{font-size:10px!important;font-family: 'robotobold'; line-height:18px!important;}
#modal-table .print-product .print-sub-title{position:relative; padding:7px 0 !important;font-size:10px; text-transform:uppercase;}
#modal-table .print-product .print-import-info{ margin-top:15px;}
#modal-table .print-product .table-data{ padding:10px 0;}
#modal-table .print-product .table-data table{ border:1px #000 solid; border-right:0; border-bottom:0;}
#modal-table .print-product .table-data table td{border-right:1px #000 solid;border-bottom:1px #000 solid;}
.print-product .color-option li{float:left;margin-right:10px;margin-bottom:5px}
.print-product .color-option li img{width:22px!important;height:22px!important;padding:0!important;border:1px #000 solid}
.product-print-price span{ font-size:10px !important; line-height:16px !important;}
.product-print-price label{ font-size:10px !important;font-family:'HelveticaNeueLTStd55-Roman'; line-height:16px;}
/*--PRODUCT DETAIL PRINT--*/

/*--PRODUCT COMPARE--*/
.print-comparision .modal-dialog{width: 100%;margin: 0;}
.print-comparision .modal-content {position: absolute;top: 0;left: 0;}
.print-comparision{ color:#000 !important;}
.print-comparision{position:absolute!important;top:0;left:0;right:0;margin:5px;page-break-before:always;page-break-after:always;page-break-inside:always;}
.print-comparision .modal-dialog.print-product{width:100%; margin:0;}
.print-comparision{font-size:12px}
.print-comparision .modal-content *{visibility:visible;}
.print-comparision.modal-content{position:absolute;top:0;left:0}
.print-comparision .modal-header, .print-comparision .close{display:none!important}
.print-comparision .compare-block .feature .pro-button,.delete-block,.print-comparision .modal-header,.print-comparision .print-head .gray{display:none!important}
.print-comparision .feature-block{width:250px}
.ob-product-compare .product-price input[type="text"]{border:none}
.print-comparision .feature .btn-box-main, .model-popup-black .modal-content .close{display:none!important}
.print-comparision .pro-img img{width:90px!important}
.print-comparision .ob-product-compare .pro-img{width:100px!important;height:100px !important;text-align:center!important;margin:0 auto!important}
.print-comparision .ob-product-compare .product-name{min-height:90px}
.print-comparision .print-comparision .print-head{margin-bottom:0!important}
.print-comparision .print-comparision .print-head img{width:70%!important}
.print-comparision .ob-product-compare .compare-block > tbody > tr > td, .ob-product-compare .product-price input[type="text"]{font-size:11px;font-family:'HelveticaNeueLTStd55-Roman';}
.print-comparision .ob-product-compare .product-name{font-size:13px;font-family:'HelveticaNeueLTStd55-Roman';}
.print-comparision .compare-block > tbody > tr > td{padding:10px 5px!important}
.print-comparision .media-none .btn-box-main{display:none}
.print-comparision .compare-block{border-top:1px solid #000}
.print-comparision .compare-block td.feature-block{border-left:1px solid #000}
.print-comparision .compare-block > tbody > tr > td{border-right:1px solid #000}
.print-comparision .product-name{border-bottom:1px #000 solid}
.print-comparision .compare-block td.feature-block .more-product{border:1px solid #000; padding:7px 20px; width:auto; height:auto; font-size:28px;}
.print-comparision .pro-img{border:1px solid #000}
.print-comparision .product-price input[type="text"]{border:1px solid #000}
.print-comparision .feature td{border-bottom:1px solid #000}
.print-comparision .checkbox label::before{border:1px solid #000}
.print-comparision .checkbox.dark-checked label::before{color:#000}
.print-comparision .ob-product-compare .product-price{ line-height:30px;}
.ob-product-compare .product-price span{ padding-top:0; margin-bottom:-5px;}
.print-comparision .ob-product-compare .product-price, .print-comparision .ob-product-compare .product-price span{ font-size:12px;}
/*--PRODUCT COMPARE--*/

img.js-logo{width:230px;height:91px;}
}